<% provide(:title, "Welcome and sign up/sign in.") %>

<body>
    <% if user_signed_in? %>
        <h1>Welcome to pinIT</h1>
        <p>
          Here are your pins.....
        </p>
    <% else %>
        Please sign up or sign in.

    <% end %>

</body>

