<% provide(:title, "Welcome") %>


<h1>Welcome to PinIT.</h1>
<p><%= link_to new_user_registration_path, :class => "btn btn-default" do%>Signup<% end %>
<p><%= link_to new_user_session_path, :class => "btn btn-default" do %>Login<% end %></p>