<% @pins.each do |p| %>
	<h4><%= link_to p do %><%=p.tittle%><% end %></h4>
	<%= image_tag p.image.url(:medium) %><br>
	<%= p.body %>
	<p><% if p.user.username != current_user.username %>
	      <%= link_to pins_path(:pin => {:tittle => p.tittle, :body => p.body},  :web_image_url => p.imgurl), :method => 			:create  do %>
	  <span class="glyphicon glyphicon-repeat"></span> <% end %>
	  <% end %>
	  Created by <%= link_to p.user.username , userprofile_path(:username => p.user.username) %></p>
	<br>

<% end %>
<%= will_paginate @pins %>
