<% provide(:title, "Add text and description") %>

<%= form_for :pin, :url => pin_path(:pin) do |f| %>

  <p class="final_image" >
    <%= image_tag @selectedpinurl %><br>
    <%= hidden_field_tag : @selectedpinurl %>
	</p>
    <p>
      <%= f.label :tittle %><br>
      <%= f.text_field :tittle, :required => true, :placeholder => "Choose a tittle." %>
    </p>

    <p>
      <%= f.label "Description" %><br>
      <%= f.text_area :body, :required => true,  :placeholder => "Write a bit about the image." %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
