<% provide(:title, "Create a new pin") %>

<h4>Upload an image from your computer. </h4>

<%= form_for @pin do |f| %>
    <p>
      <%= f.file_field :image, :required => true %>
    </p>

    <p>
      <%= f.label :tittle %><br>
      <%= f.text_field :tittle, :required => true, :placeholder => "Choose a tittle." %>
    </p>

    <p>
      <%= f.label "Description" %><br>
      <%= f.text_area :body, :required => true, :placeholder => "Write a bit about the image." %>
    </p>

    <p>
      <%= f.submit "Save pin" %>
    </p>
<% end %>

<br><br>
<h4>Or pick an image from the web.</h4>

<%= form_for @pin do |f| %>
	<p>
		<%=f.url_field :img_url, :required => true, :placeholder => "Insert your link here." %>
	</p>

	<p>
		<%= f.submit "Continue" %>
	</p>

<% end %>
