<% provide(:title, "Pin") %>


<p>
	<%= image_tag @pin.image.url(:medium) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @pin.tittle %>
</p>

<p>
  <strong>Text:</strong>
  <%= @pin.body %>
</p>
<p>
  <%= link_to "delete", pin_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<p>Created by <%= link_to @pin.user.username , userprofile_path(:username => @pin.user.username) %></p>


