<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1><%= @user.username %></h1>
    </section>
    <section class="stats">
      <%= render 'stats' %>

    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
        <ul class="users follow">
          <%= render @users %>
        </ul>
        <%= will_paginate %>
    <% end %>
  </div>
</div>