

<h1><%= @user.username %></h1>
<br>
<br>
Stats:
<section class="stats">
  <%= render 'stats' %>
</section>
<br>
<% if user_signed_in? %>
    <%if @user.username != current_user.username %>
        <%= render 'follow_form' %>

    <% end %>
<% end %>

<%= render partial: "pins/feed", object: @pins  %>




