<footer class="footer">
  <small>Copyright <a href="http://upalela.com/">Upalela</a> 2015</small>
  <nav>
    <ul>
      <li><%= link_to "About", static_pages_about_path %></li>
    </ul>
  </nav>
</footer>