<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "pinIT", root_path, id: "logo" %>
      </div>

	  <% if user_signed_in? %>
      <%= form_tag pins_path,class:"navbar-form navbar-left", method: :get do %>
          <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: 'Find', type: :search, class:"form-control" %><%= submit_tag 'Search', class:"btn btn-default" %></div>
      <% end %>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">

              <li> <%= link_to new_pin_path do %><span class="glyphicon glyphicon-plus"></span> <% end %> </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.username %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
              </li>

              <% else %>
    		  	<div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
               		 	<li><%= link_to new_user_registration_path, :class => 'navbar-link'  do%>Signup<% end %></li>
                	 	<li><%= link_to new_user_session_path, :class => 'navbar-link' do %>Login<% end %></li>
					</ul>
				</div>
         <% end %>
        </ul>
      </div>
    </div>
</nav>
